/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
 ul, li
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 ul {
	list-style: none;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
     box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
#mainNavbar .nav-link {
    font-size: 1em;
    font-weight: 500;
}

#mainNavbar .nav-link:hover {
    color: yellow;
}
#profile {
    background-color: #343353ff;
    /* margin-top: 5em; */
    color: #FFFFFFff;
    padding: 7em 0;
}
#profile h2 {
    font-size: 1.5em;
    font-weight: 600;
}
#userImg {
    width: 80px;
    height: 80px;
    border-radius: 45% 45% 45% 45%;
}
#userSocialIcons span i {
    font-size: 1.4em;
    margin-bottom: 0.5em;
    transition: 0.5s ease-out;
}
#userSocialIcons span i:hover, #userSocialIcons span i:focus {
    color: yellow;
}
#userStatus {
    color: rgba(255, 255, 255, 0.575);
}
#profile button {
    border: none;
    border-radius: 30px;
    background-color: #FF4C61ff;
    margin-bottom: 2em;
    font-size: 1em;
    font-weight: 600;
    padding: 0.3em 1.7em;
    color: #FFFFFFff;
    transition: 0.5s ease-out;
}
#profile button:hover, #profile button:focus {
    background-color: #FFFFFFff;
    color: #343353ff;
    border: 1px solid #FF4C61ff;
}
#AboutImg {
    width: 130px;
    height: 130px;
    border-radius: 45% 45% 45% 45%;
}
#AboutMe {
    /* margin-top: -3em; */
    background-color: rgb(238, 238, 240);
    /* padding-top: 3em;
    padding-bottom: 4em; */
}
#AboutMe div h2 {
    color: #272746ff;
    font-size: 28px;
    font-weight: 1000;
}
#aboutInfoCard{
    border: 2px solid rgb(230, 230, 233);
    border-radius: 10px;
     margin: 1.5em;
    background-color: #FFFFFFff;
}
#mainNavbar {
    background-color: #343353ff;
    color: #FFFFFFff;
}

#aboutInfoCard > div > button {
    border: none;
    border-radius: 30px;
    background-color: #FF4C61ff;
    margin-bottom: 2em;
    font-size: 1em;
    font-weight: 600;
    padding: 0.3em 2em;
    color: #FFFFFFff;
    transition: 0.5s ease-out;
}
#aboutInfoCard > div > button:hover, #aboutInfoCard > div > button:focus {
    background-color: #FFFFFFff;
    color: #343353ff;
    border: 1px solid #FF4C61ff;
}
#aboutInfoCard > div > p {
    color: rgb(130, 130, 136);
    font-size: 0.8em;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 1px;
}
#aboutInfoCard > div > h5 {
    font-size: 1.1em;
    font-weight: 600;
    color: rgb(96, 96, 100);
}
#services {
    background-color: rgb(238, 238, 240);
}
#services div h2 {
    color: #272746ff;
    font-size: 28px;
    font-weight: 1000;
}
.job {
    border: 2px solid rgb(238, 238, 240);
    border-radius: 15px;
}
.job img {
    width: 65px;
}
.job h3 {
    font-size: 1.3em;
    font-weight: 600;
}
.job p {
    font-size: 0.8em;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 1px;
}
.service-one {
    background-color: #6C6CE6ff;
    color: #E9EAF8ff;
}
.service-two {
    background-color: #E6C150ff;
}
.service-three {
    background-color: #FF4C61ff;
    color: #E9EAF8ff;
}
#experience {
    background-color: rgb(238, 238, 240);
}
.experience h2 {
    color: #272746ff;
    font-size: 28px;
    font-weight: 1000;
}
.center-line {
    position: absolute;
    height: 93%;
    width: 2px;
    background: rgb(252, 86, 105);
    /* left: 10%; */
    /* margin-right: 2em; */
    transform: translate();
  }
  .col-md-4 {
    border: 2px solid rgb(230, 230, 233);
    border-radius: 10px;
    background-color: #FFFFFFff;
  }
 .icon {
      position: absolute;
      background-color: #fff;
      height: 30px;
      width: 30px;
      text-align: center;
      line-height: 25px;
      border-radius: 50%;
      left: 0.7em;
      color: rgb(252, 86, 105);
  }
.year {
      display: inline;
      font-size: 0.8em;
      font-weight: 500;
      color: rgb(130, 130, 136);
  }
  .col-md-4 section h2 {
    margin-top: 0.5em;
    font-size: 1.1em;
    font-weight: 1000;
  }
  .col-md-4 section p {
    font-size: 0.8em;
    font-weight: 1000;
    line-height: 1.5;
    letter-spacing: 1px;
    color: rgb(130, 130, 136);
}
.works-category {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(67, 67, 68);
    font-weight: 800;
    font-size: medium;
}
#recentWorks {
    background-color: rgb(238, 238, 240);
}
#recentWorks h2 {
    color: #272746ff;
    font-size: 28px;
    font-weight: 1000;
}

.brand {
    border: 2px solid rgb(230, 230, 233);
    border-radius: 15px;
    background-color: #FFFFFFff;
}
.brand img {
    width: 10em;
    height: 10em;
}
.loadBtn button {
    border: none;
    border-radius: 30px;
    background-color: #FF4C61ff;
    font-size: 1em;
    font-weight: 600;
    padding: 0.5em 1.2em;
    color: #FFFFFFff;
    transition: 0.5s ease-out;
}
.loadBtn button:hover, .loadBtn button:focus {
    background-color: #FFFFFFff;
    color: #343353ff;
    border: 1px solid #FF4C61ff;
}
#pricingPlan {
    background-color: rgb(238, 238, 240);
}
.pricing-header h2 {
    color: #272746ff;
    font-size: 28px;
    font-weight: 1000;
}
.plan {
    border: 2px solid rgb(230, 230, 233);
    border-radius: 15px;
    background-color: #FFFFFFff;
}
.unique {
    background-color: #6C6CE6ff;
    color: #E9EAF8ff;
}

.plan img {
      width: 5em;
      height: 5em;
}
.plan h2 {
    font-size: 1.4em;
    font-weight: 1000;
}
.plan p, span> sub, sup{
    font-size: 0.8em;
    font-weight: 1000;
    line-height: 1.5;
    letter-spacing: 1px;
    color: rgb(83, 83, 85);
}
.unique p {
    color: #E9EAF8ff;
}
.unique-sub {
    color: #E9EAF8ff;
}
.support {
    display: block;
    color: rgb(83, 83, 85);
    font-size: 1.1em;
    font-weight: 1000;
}
.unique .support {
    color: #E9EAF8ff;
}
.price {
    display: block;
}
.price-currency {
    font-size: 1.8em;
    font-weight: 1000;
}
.plan button {
    border: none;
    border-radius: 30px;
    background-color: #FF4C61ff;
    font-size: 1em;
    font-weight: 600;
    padding: 0.3em 1.2em;
    color: #FFFFFFff;
    transition: 0.5s ease-out;
}
.plan button:hover, .plan button:focus {
    background-color: #FFFFFFff;
    color: #343353ff;
    border: 1px solid #FF4C61ff;
}
#getInTouch{
    background-color: rgb(238, 238, 240);
}
.intouchHeader h2 {
    color: #272746ff;
    font-size: 28px;
    font-weight: 1000;
}
.intouchDescription {
    font-size: 1em;
    font-weight: 1000;
    line-height: 1.5;
    letter-spacing: 1px;
    color: rgb(108, 108, 110);
}
.inTouchEmail {
    font-size: 1em;
    font-weight: 1000;
    line-height: 1.5;
    letter-spacing: 1px;
    color: rgb(108, 108, 110);
}
.email{
    color: #FF4C61ff;
}
.form-row button {
    border: none;
    border-radius: 30px;
    background-color: #FF4C61ff;
    font-size: 1em;
    font-weight: 600;
    padding: 0.5em 1.2em;
    color: #FFFFFFff;
    transition: 0.5s ease-out;
}
.form-row button:hover, .form-row button:focus {
    background-color: #FFFFFFff;
    color: #343353ff;
    border: 1px solid #FF4C61ff;
}
.form-control {
    border-radius: 30px;
    border: 2px solid rgb(230, 230, 233);
    background-color: #FFFFFFff;
}
#footer {
    background-color: #343353ff;
    color: rgb(187, 187, 194);
}
@media (min-width:950px) {
    #profile h2 {
        font-size: 2rem;
    }
     #aboutInfoCard{ 
        margin: 0em 0em;
    } 
    #AboutImg {
        margin-left: 7em;
    }
}
