html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
}

ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ul {
    list-style: none;
}

#mainNavbar {
    background-color: #343353ff;
    color: #FFFFFFff;
}

#mainNavbar .nav-link {
    font-size: 1em;
    font-weight: 500;
}

#mainNavbar .navbar-brand {
    color: #ffbf69;
}

#mainNavbar .nav-link:hover {
    color: yellow;
}

#profile {
    background-color: #343353ff;
    color: #FFFFFFff;
    padding: 7em 0;
}

#profile h2 {
    font-size: 1.5em;
    font-weight: 600;
}

#userImg {
    width: 80px;
    height: 80px;
    border-radius: 45% 45% 45% 45%;
    background-color: #fcbf49;
}

#userSocialIcons span a i {
    margin-top: 0.2em;
    font-size: 1.4em;
    margin-bottom: 0.5em;
    color: #FFFFFFff;
    transition: 0.5s ease-out;
}

#userSocialIcons span a i:hover,
#userSocialIcons span i:focus {
    color: yellow;
}

#userStatus {
    text-align: center;
    color: rgba(255, 255, 255, 0.575);
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 300;
}


#profile button {
    border: none;
    border-radius: 30px;
    background-color: #FF4C61ff;
    margin-bottom: 2em;
    font-size: 1em;
    font-weight: 600;
    padding: 0.3em 1.7em;
    color: #FFFFFFff;
    transition: 0.5s ease-out;
}



#profile button:hover,
#profile button:focus {
    background-color: #FFFFFFff;
    color: #343353ff;
    border: 1px solid #FF4C61ff;
}

#AboutImg {
    width: 130px;
    height: 130px;
    border-radius: 45% 45% 45% 45%;
    background-color: #fcbf49;
}

#AboutMe {
    background-color: rgb(238, 238, 240);
}

#AboutMe div h2 {
    color: #272746ff;
    font-size: 28px;
    font-weight: 1000;
}

#aboutInfoCard {
    position: sticky;
    border-radius: 10px;
    margin: 1.5em;
    background-color: #FFFFFFff;
    filter: drop-shadow(0 0 0.75rem rgb(225, 216, 210));
}


#aboutInfoCard>div>button {
    margin-bottom: 2em;
    border: none;
    border-radius: 30px;
    background-color: #FF4C61ff;
    font-size: 1em;
    font-weight: 600;
    padding: 0.3em 2em;
    color: #FFFFFFff;
    transition: 0.5s ease-out;
}

#aboutInfoCard>div>button>a {
    color: #FFFFFFff;
    text-decoration: none;
}

#aboutInfoCard>div>button>a:hover, #aboutInfoCard>div>button>a:focus {
    color: #FF4C61ff;
    text-decoration: none;
}

#aboutInfoCard>div>button:hover,
#aboutInfoCard>div>button:focus {
    background-color: #FFFFFFff;
    border: 1px solid #FF4C61ff;
    filter: drop-shadow(0 0 0.4rem #FF4C61ff);
}

#aboutInfoCard>div>p {
    color: rgb(130, 130, 136);
    font-size: 0.7em;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 1px;
}

#aboutInfoCard>div>h5 {
    font-size: 1.1em;
    font-weight: 600;
    color: rgb(96, 96, 100);
}

#services {
    background-color: rgb(238, 238, 240);
}

#services div h2 {
    color: #272746ff;
    font-size: 28px;
    font-weight: 1000;
}

.job {
    border: none;
    border-radius: 15px;
    padding: 1em 1.2em;
    margin: 1.2em 1em;
    filter: drop-shadow(0 0 0.75rem rgb(225, 216, 210));
}

.job img {
    width: 65px;
}

.job h3 {
    font-size: 1.3em;
    font-weight: 600;
}

.job p {
    font-size: 0.8em;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 1px;
}

.service-one {
    background-color: #6C6CE6ff;
    color: #E9EAF8ff;
}

.service-two {
    background-color: #E6C150ff;
}

.service-three {
    background-color: #FF4C61ff;
    color: #E9EAF8ff;
}

#experience {
    background-color: rgb(238, 238, 240);
}

.experience h2 {
    color: #272746ff;
    font-size: 28px;
    font-weight: 1000;
    margin-bottom: 1.5em;
}

.center-line {
    position: absolute;
    height: 93%;
    width: 2px;
    background: rgb(252, 86, 105);
    /* left: 10%; */
    /* margin-right: 2em; */
    transform: translate();
}

.col-md-4 {
    border: none;
    border-radius: 10px;
    background-color: #FFFFFFff;
    margin: 1.3em 1em;
    padding: 1em 1.2em;
    filter: drop-shadow(0 0 0.75rem rgb(225, 216, 210));
}

.icon {
    position: absolute;
    background-color: #fff;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    left: 0.7em;
    color: rgb(252, 86, 105);
}

.year {
    display: inline;
    font-size: 0.8em;
    font-weight: 500;
    color: rgb(130, 130, 136);
}

.col-md-4 section h2 {
    margin-top: 0.5em;
    font-size: 1.1em;
    font-weight: 1000;
}

.col-md-4 section p {
    font-size: 0.8em;
    font-weight: 1000;
    line-height: 1.5;
    letter-spacing: 1px;
    color: rgb(130, 130, 136);
}

.works-category {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(67, 67, 68);
    font-weight: 800;
    font-size: medium;
}

#recentWorks {
    background-color: rgb(238, 238, 240);
}

#recentWorks h2 {
    color: #272746ff;
    font-size: 28px;
    font-weight: 1000;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 15px;
    background-color: #FFFFFFff;
    filter: drop-shadow(0 0 0.75rem rgb(225, 216, 210));
}

.brand:hover,
.brand:focus {
    filter: drop-shadow(0 0 0.8rem rgb(117, 223, 122));
}

.brand img {
    width: 16em;
    height: 10em;
    border-radius: 10px;
}

.loadBtn button {
    border: none;
    border-radius: 30px;
    background-color: #FF4C61ff;
    font-size: 1em;
    font-weight: 600;
    padding: 0.5em 1.2em;
    color: #FFFFFFff;
    transition: 0.5s ease-out;
}

.loadBtn button:hover,
.loadBtn button:focus {
    background-color: #FFFFFFff;
    color: #343353ff;
    border: 1px solid #FF4C61ff;
}

#pricingPlan {
    background-color: rgb(238, 238, 240);
}

.pricing-header h2 {
    color: #272746ff;
    font-size: 28px;
    font-weight: 1000;
}

.plan {
    border: none;
    border-radius: 15px;
    margin: 1em 1em;
    padding: 1.2em 1em;
    background-color: #FFFFFFff;
    filter: drop-shadow(0 0 0.75rem rgb(225, 216, 210));
}

.unique {
    background-color: #6C6CE6ff;
    color: #E9EAF8ff;
}

.plan img {
    width: 5em;
    height: 5em;
}

.plan h2 {
    font-size: 1.4em;
    font-weight: 1000;
}

.plan p,
span>sub,
sup {
    font-size: 0.8em;
    font-weight: 1000;
    line-height: 1.5;
    letter-spacing: 1px;
    color: rgb(83, 83, 85);
}

.unique p {
    color: #E9EAF8ff;
}

.unique-sub {
    color: #E9EAF8ff;
}

.support {
    display: block;
    color: rgb(83, 83, 85);
    font-size: 1.1em;
    font-weight: 1000;
}

.unique .support {
    color: #E9EAF8ff;
}

.price {
    display: block;
}

.price-currency {
    font-size: 1.8em;
    font-weight: 1000;
}

.plan button {
    border: none;
    border-radius: 30px;
    background-color: #FF4C61ff;
    font-size: 1em;
    font-weight: 600;
    padding: 0.3em 1.2em;
    color: #FFFFFFff;
    transition: 0.5s ease-out;
}

.plan button:hover,
.plan button:focus {
    background-color: #FFFFFFff;
    color: #343353ff;
    border: 1px solid #FF4C61ff;
}

#getInTouch {
    background-color: rgb(238, 238, 240);
}

.intouchHeader h2 {
    color: #272746ff;
    font-size: 28px;
    font-weight: 1000;
}

.intouchDescription {
    font-size: 1em;
    font-weight: 1000;
    line-height: 1.5;
    letter-spacing: 1px;
    color: rgb(108, 108, 110);
}

.inTouchEmail {
    font-size: 1em;
    font-weight: 1000;
    line-height: 1.5;
    letter-spacing: 1px;
    color: rgb(108, 108, 110);
}

.email {
    color: #FF4C61ff;
}

.form-row button {
    border: none;
    border-radius: 30px;
    background-color: #FF4C61ff;
    font-size: 1em;
    font-weight: 600;
    padding: 0.5em 1.2em;
    color: #FFFFFFff;
    transition: 0.5s ease-out;
}

.form-row button:hover,
.form-row button:focus {
    background-color: #FFFFFFff;
    color: #343353ff;
    border: 1px solid #FF4C61ff;
}

.form-control {
    border-radius: 30px;
    border: 2px solid rgb(230, 230, 233);
    background-color: #FFFFFFff;
}

#footer {
    background-color: #343353ff;
    color: rgb(187, 187, 194);
}

@media (min-width:900px) {
    #AboutMe {
        height: 500px;
    }

    #userStatus {
        left: 600px;
        top: 245px;
    }

    #profile h2 {
        font-size: 2rem;
    }

    #aboutInfoCard {
        margin: 0em 0em;
        margin-bottom: 2em;
    }

    #AboutImg {
        margin-left: 7em;
    }
}

@media (max-width:420px) {
    #AboutMe {
        background-color: rgb(238, 238, 240);
    }

    .works-category {
        font-size: 0.8em;
    }

    .brand {
        height: 200px;
        width: 250px;
    }

    .brand img {
        width: 210px;
        height: 160px;
    }

    #aboutInfoCard {
        margin: 1.5em 0.5em;
    }

    .job {
        margin: 1.2em 1.6em;
    }

    .col-md-4 {
        margin: 1.3em 1.6em;
    }

    .plan {
        margin: 1em 1.6em;
    }
}